@page "/login"

@using testBT.Models;
@using Newtonsoft.Json;

@inject interfacePreferences preferences;
@inject InterfaceAPI api;





<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="@LoginSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="UserName">UserName</label>
        <InputText id="UserName" class="form-control" @bind-Value="loginModel.UserName" />
    </div>

    

    <div class="form-group">
        <label for="Password">Password</label>
        <InputText id="Password" class="form-control" @bind-Value="loginModel.Password" />
    </div>
    <div>
        <NavLink class="nav-link" href="register">
            <span>Register</span>
        </NavLink>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

</EditForm>



@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    private LoginModel loginModel = new LoginModel();
    


    private async void LoginSubmit()
    {
        bool result = await api.Login2(loginModel);
        if (result)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            await Application.Current.MainPage.DisplayAlert("Error", "Failed to login", "OK");
            NavigationManager.NavigateTo("/login");
        }

    }
}

